17.json
[{"id":"424274a3be67792e","type":"tab","label":"플로우 2","disabled":false,"info":""},{"id":"dcde9c2ffc51e851","type":"serial in","z":"424274a3be67792e","name":"","serial":"fcaf6ccd23db1cc7","x":130,"y":240,"wires":[["f01ad1b26242596f","9f5586ed0ffec4a1"]]},{"id":"f01ad1b26242596f","type":"function","z":"424274a3be67792e","name":"","func":"var output = msg.payload.split(\",\");\nvar Ea = parseFloat(output[0]);\nvar msg = {payload:Ea};\nreturn [msg];\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":200,"wires":[["159deed86e3e438e"]]},{"id":"9f5586ed0ffec4a1","type":"function","z":"424274a3be67792e","name":"","func":"var output = msg.payload.split(\",\");\nvar WC = parseFloat(output[1]);\nvar msg = {payload:WC};\nreturn [msg];\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":280,"wires":[["c25619fedb48da2a"]]},{"id":"159deed86e3e438e","type":"ui_gauge","z":"424274a3be67792e","name":"","group":"b77ded9d1d746205","order":3,"width":6,"height":5,"gtype":"gage","title":"Temperature","label":"oC","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":530,"y":200,"wires":[]},{"id":"c25619fedb48da2a","type":"ui_gauge","z":"424274a3be67792e","name":"","group":"b77ded9d1d746205","order":4,"width":6,"height":5,"gtype":"wave","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":520,"y":280,"wires":[]},{"id":"fcaf6ccd23db1cc7","type":"serial-port","serialport":"COM3","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"b77ded9d1d746205","type":"ui_group","name":"Group 1","tab":"190c058d17d2c22c","order":1,"disp":true,"width":22},{"id":"190c058d17d2c22c","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]
