18.json
[{"id":"2bbab0616484a801","type":"tab","label":"Temp_RH_JSON","disabled":false,"info":""},{"id":"1b5315b30fb5abed","type":"serial in","z":"2bbab0616484a801","name":"","serial":"c1103d13aef36fa3","x":130,"y":200,"wires":[["a30330732b4691ed"]]},{"id":"a30330732b4691ed","type":"json","z":"2bbab0616484a801","name":"","property":"payload","action":"","pretty":true,"x":250,"y":140,"wires":[["c3081ebbcdaee62d"]]},{"id":"c3081ebbcdaee62d","type":"function","z":"2bbab0616484a801","name":"","func":"var b = JSON.parse(JSON.stringify(msg.payload)); \nb=msg;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":240,"wires":[["d9a9aaa57d2eda0b","5e3492c0ee925d8f"]]},{"id":"d9a9aaa57d2eda0b","type":"function","z":"2bbab0616484a801","name":"","func":"msg.payload=msg.payload.temp;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":180,"wires":[["faa592d787fd4ec1","b5cfa80b2394da2c"]]},{"id":"faa592d787fd4ec1","type":"ui_gauge","z":"2bbab0616484a801","name":"","group":"ddb9acc26e9bbb3f","order":1,"width":6,"height":6,"gtype":"gage","title":"Temperature","label":"oC","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"25","seg2":"30","x":730,"y":180,"wires":[]},{"id":"5e3492c0ee925d8f","type":"function","z":"2bbab0616484a801","name":"","func":"msg.payload=msg.payload.humidity;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":280,"wires":[["cce404820a3b27e8","d6889783ca965eb3"]]},{"id":"cce404820a3b27e8","type":"ui_gauge","z":"2bbab0616484a801","name":"","group":"ddb9acc26e9bbb3f","order":2,"width":6,"height":6,"gtype":"wave","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"30","seg2":"50","x":760,"y":300,"wires":[]},{"id":"b5cfa80b2394da2c","type":"ui_chart","z":"2bbab0616484a801","name":"","group":"ddb9acc26e9bbb3f","order":9,"width":6,"height":7,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":740,"y":240,"wires":[[]]},{"id":"d6889783ca965eb3","type":"ui_chart","z":"2bbab0616484a801","name":"","group":"ddb9acc26e9bbb3f","order":10,"width":6,"height":7,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":750,"y":360,"wires":[[]]},{"id":"f44f8ead7ae668cb","type":"ui_spacer","z":"2bbab0616484a801","name":"spacer","group":"d55947fd14c91720","order":5,"width":18,"height":1},{"id":"bdde5e5862f77376","type":"ui_spacer","z":"2bbab0616484a801","name":"spacer","group":"d55947fd14c91720","order":6,"width":18,"height":1},{"id":"f187cbcff6975d7f","type":"ui_spacer","z":"2bbab0616484a801","name":"spacer","group":"d55947fd14c91720","order":8,"width":12,"height":1},{"id":"c443703bb8d51141","type":"ui_spacer","z":"2bbab0616484a801","name":"spacer","group":"d55947fd14c91720","order":9,"width":12,"height":1},{"id":"8b88a968574a190c","type":"ui_spacer","z":"2bbab0616484a801","name":"spacer","group":"d55947fd14c91720","order":10,"width":12,"height":1},{"id":"b0c777c4bf619c48","type":"ui_spacer","z":"2bbab0616484a801","name":"spacer","group":"d55947fd14c91720","order":11,"width":12,"height":1},{"id":"77cbd9c1e9d7b067","type":"ui_spacer","z":"2bbab0616484a801","name":"spacer","group":"d55947fd14c91720","order":12,"width":3,"height":1},{"id":"6153ca22667590ab","type":"ui_spacer","z":"2bbab0616484a801","name":"spacer","group":"d55947fd14c91720","order":14,"width":3,"height":1},{"id":"fd8f6070bd0d31ca","type":"ui_spacer","z":"2bbab0616484a801","name":"spacer","group":"d55947fd14c91720","order":15,"width":9,"height":1},{"id":"9a7ebc1bb03618e4","type":"ui_spacer","z":"2bbab0616484a801","name":"spacer","group":"d55947fd14c91720","order":16,"width":9,"height":1},{"id":"5e8602a6154fd3c5","type":"ui_spacer","z":"2bbab0616484a801","name":"spacer","group":"d55947fd14c91720","order":17,"width":9,"height":1},{"id":"2d7b44d8fa13daf8","type":"ui_spacer","z":"2bbab0616484a801","name":"spacer","group":"d55947fd14c91720","order":18,"width":9,"height":1},{"id":"5d945360e7c4dde4","type":"ui_spacer","z":"2bbab0616484a801","name":"spacer","group":"d55947fd14c91720","order":19,"width":9,"height":1},{"id":"6b588e5636e8b125","type":"ui_spacer","z":"2bbab0616484a801","name":"spacer","group":"d55947fd14c91720","order":21,"width":1,"height":1},{"id":"4983cdd96d345478","type":"ui_spacer","z":"2bbab0616484a801","name":"spacer","group":"d55947fd14c91720","order":23,"width":2,"height":1},{"id":"99918505c5c0c6b7","type":"ui_spacer","z":"2bbab0616484a801","name":"spacer","group":"d55947fd14c91720","order":24,"width":1,"height":1},{"id":"cd483b56a536c7f7","type":"ui_spacer","z":"2bbab0616484a801","name":"spacer","group":"d55947fd14c91720","order":25,"width":2,"height":1},{"id":"f00ba901af15935a","type":"ui_spacer","z":"2bbab0616484a801","name":"spacer","group":"d55947fd14c91720","order":26,"width":1,"height":1},{"id":"22e5f31df17dbf5d","type":"ui_spacer","z":"2bbab0616484a801","name":"spacer","group":"d55947fd14c91720","order":27,"width":2,"height":1},{"id":"e6fe87610ebf7a18","type":"ui_spacer","z":"2bbab0616484a801","name":"spacer","group":"d55947fd14c91720","order":28,"width":1,"height":1},{"id":"ae51edcc8d74cea4","type":"ui_spacer","z":"2bbab0616484a801","name":"spacer","group":"d55947fd14c91720","order":29,"width":2,"height":1},{"id":"1ba299d8ab6acafe","type":"ui_spacer","z":"2bbab0616484a801","name":"spacer","group":"d55947fd14c91720","order":30,"width":1,"height":1},{"id":"dd3b9f949ef611de","type":"ui_spacer","z":"2bbab0616484a801","name":"spacer","group":"d55947fd14c91720","order":31,"width":2,"height":1},{"id":"e63ffc202638662f","type":"ui_spacer","z":"2bbab0616484a801","name":"spacer","group":"d55947fd14c91720","order":32,"width":1,"height":1},{"id":"6d63aed97c3f7a2a","type":"ui_spacer","z":"2bbab0616484a801","name":"spacer","group":"d55947fd14c91720","order":33,"width":2,"height":1},{"id":"3c2badc459a4be2d","type":"ui_spacer","z":"2bbab0616484a801","name":"spacer","group":"d55947fd14c91720","order":34,"width":9,"height":1},{"id":"a47112260666a18c","type":"ui_spacer","z":"2bbab0616484a801","name":"spacer","group":"ddb9acc26e9bbb3f","order":3,"width":2,"height":1},{"id":"69f55f8fe5a93b1c","type":"ui_spacer","z":"2bbab0616484a801","name":"spacer","group":"ddb9acc26e9bbb3f","order":4,"width":2,"height":1},{"id":"e13f3a553fe23d13","type":"ui_spacer","z":"2bbab0616484a801","name":"spacer","group":"ddb9acc26e9bbb3f","order":5,"width":2,"height":1},{"id":"1267ff0fce6c19d5","type":"ui_spacer","z":"2bbab0616484a801","name":"spacer","group":"ddb9acc26e9bbb3f","order":6,"width":2,"height":1},{"id":"e3671185dc405df3","type":"ui_spacer","z":"2bbab0616484a801","name":"spacer","group":"ddb9acc26e9bbb3f","order":7,"width":2,"height":1},{"id":"1cb6b377b730cd69","type":"ui_spacer","z":"2bbab0616484a801","name":"spacer","group":"ddb9acc26e9bbb3f","order":8,"width":2,"height":1},{"id":"076f1422b9f4efc9","type":"ui_spacer","z":"2bbab0616484a801","name":"spacer","group":"ddb9acc26e9bbb3f","order":11,"width":2,"height":1},{"id":"344d72b56e7e7d7c","type":"ui_spacer","z":"2bbab0616484a801","name":"spacer","group":"ddb9acc26e9bbb3f","order":12,"width":2,"height":1},{"id":"c3639b64a1fc011b","type":"ui_spacer","z":"2bbab0616484a801","name":"spacer","group":"ddb9acc26e9bbb3f","order":13,"width":2,"height":1},{"id":"c464855a1e636991","type":"ui_spacer","z":"2bbab0616484a801","name":"spacer","group":"ddb9acc26e9bbb3f","order":14,"width":2,"height":1},{"id":"6a7035c51026c063","type":"ui_spacer","z":"2bbab0616484a801","name":"spacer","group":"ddb9acc26e9bbb3f","order":15,"width":2,"height":1},{"id":"2f90546437d1d91f","type":"ui_spacer","z":"2bbab0616484a801","name":"spacer","group":"ddb9acc26e9bbb3f","order":16,"width":2,"height":1},{"id":"3da0276ddc783857","type":"ui_spacer","z":"2bbab0616484a801","name":"spacer","group":"ddb9acc26e9bbb3f","order":17,"width":2,"height":1},{"id":"c1103d13aef36fa3","type":"serial-port","serialport":"COM15","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"ddb9acc26e9bbb3f","type":"ui_group","name":"Group 1","tab":"fa77f82c0a076646","order":1,"disp":true,"width":14},{"id":"fa77f82c0a076646","type":"ui_tab","name":"Temp_RH_JSON","icon":"dashboard","order":5,"disabled":false,"hidden":false}]
