197.json
[{"id":"27a2271c0394b2cd","type":"tab","label":"플로우 3","disabled":false,"info":""},{"id":"854774ef646036e2","type":"inject","z":"27a2271c0394b2cd","name":"Debug-Image Capture","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":360,"y":200,"wires":[["bc539c400d148d0a"]]},{"id":"bc539c400d148d0a","type":"http request","z":"27a2271c0394b2cd","name":"Image Capture Command","method":"GET","ret":"bin","paytoqs":"ignore","url":"http://192.168.0.20/capture","tls":"","persist":false,"proxy":"","authType":"","credentials":{},"x":630,"y":200,"wires":[["c5d25243e2b4520e","d5b70d81929ab75b"]]},{"id":"c5d25243e2b4520e","type":"base64","z":"27a2271c0394b2cd","name":"","action":"","property":"payload","x":870,"y":200,"wires":[["5f4e0ec6039d8825","42a2504bba9350ac"]]},{"id":"5f4e0ec6039d8825","type":"template","z":"27a2271c0394b2cd","name":"Img width Setting","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<img width=\"640px\" height=\"480px\" src=\"data:image/jpg;base64,{{{payload}}}\">","output":"str","x":883.9999923706055,"y":272.99997901916504,"wires":[["5a1b7fd3b8ccaa7f"]]},{"id":"42a2504bba9350ac","type":"image","z":"27a2271c0394b2cd","name":"","width":160,"data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":1100,"y":200,"wires":[]},{"id":"76b1596a484dba06","type":"file","z":"27a2271c0394b2cd","name":"","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":614,"y":383.99997997283936,"wires":[["d8d28d4bf55faa75"]]},{"id":"d5b70d81929ab75b","type":"function","z":"27a2271c0394b2cd","name":"","func":"msg.filename = \"D:/Data/test_image/Test.jpg\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":389.99999237060547,"y":380.99997901916504,"wires":[["76b1596a484dba06","6b7d3290fcdf7867"]]},{"id":"6b7d3290fcdf7867","type":"debug","z":"27a2271c0394b2cd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"filename","targetType":"msg","statusVal":"","statusType":"auto","x":616,"y":448.9999723434448,"wires":[]},{"id":"6a6b8d9b9b51670c","type":"ui_template","z":"27a2271c0394b2cd","group":"5f60c7c83d14eb76","name":"Streaming Image","order":1,"width":13,"height":10,"format":"<div>\n    <img src=\"http://192.168.0.20:81/stream\" width=\"640px\">\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":360,"y":140,"wires":[[]]},{"id":"38bb8e54afe7052d","type":"ui_text","z":"27a2271c0394b2cd","group":"5f60c7c83d14eb76","order":15,"width":6,"height":1,"name":"","label":"Capture Image","format":"{{msg.payload}}","layout":"row-spread","className":"","x":627,"y":518.9999675750732,"wires":[]},{"id":"ec57165c64963163","type":"ui_text","z":"27a2271c0394b2cd","group":"5f60c7c83d14eb76","order":16,"width":6,"height":1,"name":"","label":"AI 결과","format":"{{msg.payload}}","layout":"row-spread","className":"","x":1060,"y":400,"wires":[]},{"id":"fc8878c6848757dd","type":"debug","z":"27a2271c0394b2cd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1070,"y":460,"wires":[]},{"id":"5cf2710cdec439b6","type":"ui_text","z":"27a2271c0394b2cd","group":"5f60c7c83d14eb76","order":13,"width":6,"height":1,"name":"","label":"Live","format":"{{msg.payload}}","layout":"row-spread","className":"","x":330,"y":520,"wires":[]},{"id":"2977a1ba839bff4a","type":"ui_button","z":"27a2271c0394b2cd","name":"","group":"5f60c7c83d14eb76","order":19,"width":6,"height":1,"passthru":false,"label":"Camera Capture","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":320,"y":260,"wires":[["bc539c400d148d0a"]]},{"id":"5a1b7fd3b8ccaa7f","type":"ui_template","z":"27a2271c0394b2cd","group":"5f60c7c83d14eb76","name":"Capture Image","order":3,"width":13,"height":10,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":880,"y":340,"wires":[[]]},{"id":"d8d28d4bf55faa75","type":"cocossd","z":"27a2271c0394b2cd","name":"","x":860,"y":400,"wires":[["ec57165c64963163","fc8878c6848757dd"]]},{"id":"9f5ba15b2e356946","type":"ui_spacer","z":"27a2271c0394b2cd","name":"spacer","group":"b1d5cbd6.805608","order":4,"width":7,"height":1},{"id":"3930c83bb31cc651","type":"ui_spacer","z":"27a2271c0394b2cd","name":"spacer","group":"b1d5cbd6.805608","order":7,"width":13,"height":1},{"id":"29f6635a7aa320a9","type":"ui_spacer","z":"27a2271c0394b2cd","name":"spacer","group":"b1d5cbd6.805608","order":9,"width":"7","height":"1","className":""},{"id":"cf896ed9c7c12126","type":"ui_spacer","z":"27a2271c0394b2cd","name":"spacer","group":"5f60c7c83d14eb76","order":2,"width":1,"height":1},{"id":"e4fd5d1337ad7707","type":"ui_spacer","z":"27a2271c0394b2cd","name":"spacer","group":"5f60c7c83d14eb76","order":4,"width":1,"height":1},{"id":"93322b6455b87980","type":"ui_spacer","z":"27a2271c0394b2cd","name":"spacer","group":"5f60c7c83d14eb76","order":5,"width":1,"height":1},{"id":"7b8b8a1f1d572279","type":"ui_spacer","z":"27a2271c0394b2cd","name":"spacer","group":"5f60c7c83d14eb76","order":6,"width":1,"height":1},{"id":"7974cdda09d08917","type":"ui_spacer","z":"27a2271c0394b2cd","name":"spacer","group":"5f60c7c83d14eb76","order":7,"width":1,"height":1},{"id":"32c06d92312c9f4e","type":"ui_spacer","z":"27a2271c0394b2cd","name":"spacer","group":"5f60c7c83d14eb76","order":8,"width":1,"height":1},{"id":"1c22e41a9bc92964","type":"ui_spacer","z":"27a2271c0394b2cd","name":"spacer","group":"5f60c7c83d14eb76","order":9,"width":1,"height":1},{"id":"ec2a8c3d6e8768f9","type":"ui_spacer","z":"27a2271c0394b2cd","name":"spacer","group":"5f60c7c83d14eb76","order":10,"width":1,"height":1},{"id":"5d2d1f3726e6f230","type":"ui_spacer","z":"27a2271c0394b2cd","name":"spacer","group":"5f60c7c83d14eb76","order":11,"width":1,"height":1},{"id":"6cfaa33b331491ff","type":"ui_spacer","z":"27a2271c0394b2cd","name":"spacer","group":"5f60c7c83d14eb76","order":12,"width":1,"height":1},{"id":"7f62d34d3b283812","type":"ui_spacer","z":"27a2271c0394b2cd","name":"spacer","group":"5f60c7c83d14eb76","order":14,"width":8,"height":1},{"id":"0f6c0268a44cba58","type":"ui_spacer","z":"27a2271c0394b2cd","name":"spacer","group":"5f60c7c83d14eb76","order":17,"width":1,"height":1},{"id":"f4804447a5c6464c","type":"ui_spacer","z":"27a2271c0394b2cd","name":"spacer","group":"5f60c7c83d14eb76","order":18,"width":14,"height":1},{"id":"1f451d45d8c576f4","type":"ui_spacer","z":"27a2271c0394b2cd","name":"spacer","group":"5f60c7c83d14eb76","order":20,"width":7,"height":1},{"id":"5f60c7c83d14eb76","type":"ui_group","name":"Camera","tab":"fac4adcc.be33b","order":1,"disp":true,"width":27,"collapse":false,"className":""},{"id":"b1d5cbd6.805608","type":"ui_group","name":"Cam Capture","tab":"","order":1,"disp":true,"width":27,"collapse":false},{"id":"fac4adcc.be33b","type":"ui_tab","name":"AI","icon":"dashboard","disabled":false,"hidden":false}]
