206.json
[{"id":"e0b59ea4f7c4e24f","type":"tab","label":"플로우 6","disabled":false,"info":""},{"id":"eae499535170fc90","type":"debug","z":"e0b59ea4f7c4e24f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1010,"y":420,"wires":[]},{"id":"c9d4689e26a7f47d","type":"file","z":"e0b59ea4f7c4e24f","name":"","filename":"D:/Data/test_image/test.jpeg","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"base64","x":560,"y":300,"wires":[["704e0cccbe3a4da6"]]},{"id":"704e0cccbe3a4da6","type":"function","z":"e0b59ea4f7c4e24f","name":"","func":"msg.payload=\"D:/Data/test_image/\"+\"test.jpeg\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":380,"wires":[["c1f75ab36f714b33"]]},{"id":"c7217e1659a41345","type":"ui_text","z":"e0b59ea4f7c4e24f","group":"3b1668c732b0d975","order":3,"width":0,"height":0,"name":"","label":"AI 결과","format":"{{msg.payload}}","layout":"row-spread","className":"","x":920,"y":480,"wires":[]},{"id":"c1f75ab36f714b33","type":"cocossd","z":"e0b59ea4f7c4e24f","name":"","x":820,"y":380,"wires":[["eae499535170fc90","c7217e1659a41345","45b61ab30310b616"]]},{"id":"90d03728c2951662","type":"image","z":"e0b59ea4f7c4e24f","name":"","width":160,"data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":460,"y":80,"wires":[]},{"id":"d0b799a7e6313ef6","type":"base64","z":"e0b59ea4f7c4e24f","name":"","action":"","property":"payload","x":440,"y":380,"wires":[["c9d4689e26a7f47d"]]},{"id":"c2638139a170c478","type":"ui_webcam","z":"e0b59ea4f7c4e24f","name":"","group":"3b1668c732b0d975","order":1,"width":0,"height":5,"countdown":false,"autoStart":false,"hideCaptureButton":false,"showImage":"2","mirror":true,"format":"jpeg","x":280,"y":220,"wires":[["90d03728c2951662","d0b799a7e6313ef6"]]},{"id":"45b61ab30310b616","type":"function","z":"e0b59ea4f7c4e24f","name":"Operation","func":"if(msg.payload == 'person'){\n    msg.payload = 'a';\n} \nelse {\n    msg.payload = 'b';\n}\nreturn [msg];\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":340,"wires":[["e66fa9d557408f67"]]},{"id":"8a078e9a6579a84a","type":"debug","z":"e0b59ea4f7c4e24f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1230,"y":280,"wires":[]},{"id":"e66fa9d557408f67","type":"ui_switch","z":"e0b59ea4f7c4e24f","name":"","label":"작동","tooltip":"","group":"3b1668c732b0d975","order":3,"width":6,"height":1,"passthru":true,"decouple":"false","topic":"payload","topicType":"msg","style":"","onvalue":"a","onvalueType":"str","onicon":"","oncolor":"","offvalue":"b","offvalueType":"str","officon":"","offcolor":"","animate":false,"className":"","x":1090,"y":340,"wires":[["8a078e9a6579a84a","c9d49989a49db063"]]},{"id":"c9d49989a49db063","type":"serial out","z":"e0b59ea4f7c4e24f","name":"","serial":"c1103d13aef36fa3","x":1240,"y":380,"wires":[]},{"id":"3b1668c732b0d975","type":"ui_group","name":"Group 1","tab":"1c815eca37c1fa35","order":1,"disp":true,"width":"6","collapse":false},{"id":"c1103d13aef36fa3","type":"serial-port","serialport":"COM15","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"1c815eca37c1fa35","type":"ui_tab","name":"cameras","icon":"dashboard","order":5,"disabled":false,"hidden":false}]
