21.json
[{"id":"424274a3be67792e","type":"tab","label":"플로우 2","disabled":false,"info":""},{"id":"dcde9c2ffc51e851","type":"serial in","z":"424274a3be67792e","name":"","serial":"fcaf6ccd23db1cc7","x":130,"y":240,"wires":[["f01ad1b26242596f","9f5586ed0ffec4a1"]]},{"id":"f01ad1b26242596f","type":"function","z":"424274a3be67792e","name":"","func":"var output = msg.payload.split(\",\");\nvar Ea = parseFloat(output[0]);\nvar msg = {payload:Ea};\nreturn [msg];\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":200,"wires":[["3c72ab8b8afae938","1f6a2388a7ec7fc5"]]},{"id":"9f5586ed0ffec4a1","type":"function","z":"424274a3be67792e","name":"","func":"var output = msg.payload.split(\",\");\nvar WC = parseFloat(output[1]);\nvar msg = {payload:WC};\nreturn [msg];\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":280,"wires":[["cc5c8bd5fc3e7f87","b2aab7e92222feb2"]]},{"id":"3c72ab8b8afae938","type":"ui_chart","z":"424274a3be67792e","name":"","group":"adac741a3c0eddd7","order":3,"width":7,"height":5,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":530,"y":220,"wires":[[]]},{"id":"cc5c8bd5fc3e7f87","type":"ui_chart","z":"424274a3be67792e","name":"","group":"adac741a3c0eddd7","order":4,"width":7,"height":5,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":520,"y":340,"wires":[[]]},{"id":"1f6a2388a7ec7fc5","type":"ui_gauge","z":"424274a3be67792e","name":"","group":"adac741a3c0eddd7","order":1,"width":7,"height":5,"gtype":"gage","title":"Temperature","label":"'C","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":530,"y":160,"wires":[]},{"id":"b2aab7e92222feb2","type":"ui_gauge","z":"424274a3be67792e","name":"","group":"adac741a3c0eddd7","order":2,"width":7,"height":5,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":520,"y":280,"wires":[]},{"id":"fcaf6ccd23db1cc7","type":"serial-port","serialport":"COM3","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"adac741a3c0eddd7","type":"ui_group","name":"Group 1","tab":"8ff3045af8818df1","order":1,"disp":true,"width":14},{"id":"8ff3045af8818df1","type":"ui_tab","name":"Tab 2","icon":"dashboard","order":2}]
