223.json
[{"id":"2b2a1a0a.b140c6","type":"tab","label":"Flow 7","disabled":false,"info":""},{"id":"231aeacc.a944c6","type":"json","z":"2b2a1a0a.b140c6","name":"","property":"payload","action":"","pretty":true,"x":414,"y":315.0000009536743,"wires":[["5b1f64a7.d35f8c"]]},{"id":"b570478d.50cda8","type":"function","z":"2b2a1a0a.b140c6","name":"","func":"var b=Buffer.from(msg.payload);\nvars=b.toString();\nvarout=s;\nmsg.payload= out;\nreturnmsg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":258,"y":314.00002002716064,"wires":[["231aeacc.a944c6","20f13884.df43f8","d2658571.93dca8","d6137f0c.e7e5b"]]},{"id":"5b1f64a7.d35f8c","type":"split","z":"2b2a1a0a.b140c6","name":"","splt":",","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":541.9999961853027,"y":314.00000286102295,"wires":[["875db9bc.6b3fc8"]]},{"id":"875db9bc.6b3fc8","type":"switch","z":"2b2a1a0a.b140c6","name":"","property":"parts.key","propertyType":"msg","rules":[{"t":"eq","v":"temp","vt":"str"},{"t":"eq","v":"humidity","vt":"str"},{"t":"eq","v":"cdc","vt":"str"},{"t":"eq","v":"water","vt":"str"},{"t":"eq","v":"co2","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":668,"y":314.00002002716064,"wires":[["17119b3d.547b85","216c6e37.1fbf62"],["255f9b5f.3377b4","b42af60b.4df6c8"],["7c4bd81d.21e8b8","76c1ce01.4412"],["19fbed21.ad9813","ecccb8f.f928448"],["f4618d28.a580d","78505735.9ff5c8"]]},{"id":"d2658571.93dca8","type":"function","z":"2b2a1a0a.b140c6","name":"","func":"msg.payload = msg.payload.replace(':', ',');\nmsg.payload= msg.payload.replace(':', ',');\nmsg.payload= msg.payload.replace(':', ',');\nmsg.payload= msg.payload.replace(':', ',');\nmsg.payload= msg.payload.replace(':', ',');\nmsg.payload= msg.payload.replace('{', '');\nmsg.payload= msg.payload.replace('}', '');\nmsg.payload= msg.payload.replace('\"temp\",', '');\nmsg.payload= msg.payload.replace('\"humidity\",', '');\nmsg.payload= msg.payload.replace('\"cdc\",', '');\nmsg.payload= msg.payload.replace('\"water\",', '');\nmsg.payload= msg.payload.replace('\"co2\",', '');\n\nvarnewDate= newDate();\nvardate= newDate.toLocaleDateString();\nvartime= newDate.toLocaleTimeString();\n\nmsg.payload= date+ ',' + time+ \",\" + msg.payload;\n\nreturnmsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":338,"y":434.00002002716064,"wires":[["90656f75.b49fd"]]},{"id":"90656f75.b49fd","type":"file","z":"2b2a1a0a.b140c6","name":"data_logger","filename":"logger\\data_smartCYY.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":508,"y":434.00002002716064,"wires":[["43bae508.572d2c"]]},{"id":"43bae508.572d2c","type":"debug","z":"2b2a1a0a.b140c6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":668,"y":434.00002002716064,"wires":[]},{"id":"e4710101.c19bd","type":"inject","z":"2b2a1a0a.b140c6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":0.1,"topic":"","payloadType":"str","x":134,"y":775.0000009536743,"wires":[["d6a306a1.ee8b18"]]},{"id":"d6a306a1.ee8b18","type":"function","z":"2b2a1a0a.b140c6","name":"","func":"msg.topic = \"SELECT * FROM smartcyy.sensorWHERE DATE(date) BETWEEN :sdateAND :edateorderbyID desclimit100;\";\n\nvarvs= global.get('start_date');\nvarve= global.get('end_date');\n\nvarvsdate= newDate(vs);\nvarvedate= newDate(ve);\n\nvarvsdd= vsdate.getDate();\nif(vsdd< 10) vsdd= '0' + vsdd;\nvarvsmm= vsdate.getMonth()+1;\nvarvsyy= vsdate.getFullYear();\n\nvarvedd= vedate.getDate();\nif(vedd< 10) vedd= '0' + vedd;\nvarvemm= vedate.getMonth()+1;\nvarveyy= vedate.getFullYear();\n\nvarvsday= vsyy+ '-' + vsmm+ '-' + vsdd;\nvarveday= veyy+ '-' + vemm+ '-' + vedd;\n\n\n// msg.payload= { sdate: '2021-01-15', edate: '2021-01-15' };\nmsg.payload= { sdate: vsday, edate: veday};\nreturnmsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":328,"y":774.0000200271606,"wires":[["4295b32e.290a3c","7c419b0dd37cfa45"]]},{"id":"4b63af91.84346","type":"debug","z":"2b2a1a0a.b140c6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":674,"y":755.0000009536743,"wires":[]},{"id":"d6137f0c.e7e5b","type":"function","z":"2b2a1a0a.b140c6","name":"SQL","func":"var obj= JSON.parse(msg.payload);\n\nvarnewDate= newDate();\nvardate= newDate.toLocaleDateString();\nvartime= newDate.toLocaleTimeString();\n\nfunctiongetTimeStamp() {\n  vard= newDate();\n  vars=\n    leadingZeros(d.getFullYear(), 4) + '-' +\n    leadingZeros(d.getMonth() + 1, 2) + '-' +\n    leadingZeros(d.getDate(), 2) + ' ' +\n\n    leadingZeros(d.getHours(), 2) + ':' +\n    leadingZeros(d.getMinutes(), 2) + ':' +\n    leadingZeros(d.getSeconds(), 2);\n\n  returns;\n}\n\nfunctionleadingZeros(n, digits) {\n  varzero= '';\n  n= n.toString();\n\n  if(n.length< digits) {\n    for(i= 0; i< digits- n.length; i++)\n      zero+= '0';\n  }\n  returnzero+ n;\n}\n\n\nmsg.topic= \"INSERT INTO smartcyy.sensor(temp, humidity, cdc, water, co2, `date`)\";\n//                                      \"INSERT INTO smartfarm.sensor(temp, humidity, cdc, water, co2, `date`)VALUES(18, 33, 56, 3, 0, '2021-01-13 17:47:41');\"\n// msg.topic+= \"VALUES(\" + obj['temp'] + \", \" + obj['humidity'] + \", \" + obj['cdc'] + \", \" + obj['water'] + \", \" + obj['co2'] +     \", '2021-01-03 00:00:00');\";\nmsg.topic+= \" VALUES(\" + obj['temp'] + \", \" + obj['humidity'] + \", \" + obj['cdc'] + \", \" + obj['water'] + \", \" + obj['co2'] +  \",  current_timestamp());\";\n\nmsg.payload= { \"temperature\":0, \"humidity\":0, \"cdc\":0, \"water\":0, \"co2\":0, \"date\": \"2021-01-03 00:00:00\" }\n\n// msg.topic+= \" VALUES(1, 1, 1, 1, 1, '2021-01-03 00:00:00');\";\n\n// \"INSERT INTO sensor(temp, humidity, cdc, water, co2, `date`) VALUES(18, 33, 56, 3, 0, '2021-1-13 17:36:10');\"\nreturnmsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":378,"y":514.0000200271606,"wires":[["2c8ca16e.0c453e","831024eaece0b4c7"]]},{"id":"2c8ca16e.0c453e","type":"debug","z":"2b2a1a0a.b140c6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","statusVal":"","statusType":"auto","x":578,"y":514.0000200271606,"wires":[]},{"id":"14012352.5804ad","type":"ui_switch","z":"2b2a1a0a.b140c6","name":"","label":"switch1","tooltip":"","group":"49eed59c.ec92cc","order":9,"width":5,"height":1,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"a","onvalueType":"str","onicon":"","oncolor":"","offvalue":"b","offvalueType":"str","officon":"","offcolor":"","animate":false,"x":324,"y":35.000000953674316,"wires":[["25d658ddea20bef7"]]},{"id":"7486c409.86b70c","type":"ui_switch","z":"2b2a1a0a.b140c6","name":"","label":"switch2","tooltip":"","group":"49eed59c.ec92cc","order":10,"width":5,"height":1,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"c","onvalueType":"str","onicon":"","oncolor":"","offvalue":"d","offvalueType":"str","officon":"","offcolor":"","animate":false,"x":324,"y":95.00000095367432,"wires":[["25d658ddea20bef7"]]},{"id":"216c6e37.1fbf62","type":"ui_text","z":"2b2a1a0a.b140c6","group":"49eed59c.ec92cc","order":1,"width":5,"height":1,"name":"","label":"Temperature","format":"{{msg.payload}}","layout":"row-spread","x":894,"y":175.00000095367432,"wires":[]},{"id":"255f9b5f.3377b4","type":"ui_text","z":"2b2a1a0a.b140c6","group":"49eed59c.ec92cc","order":5,"width":5,"height":1,"name":"","label":"Humidity","format":"{{msg.payload}}","layout":"row-spread","x":884,"y":215.00000095367432,"wires":[]},{"id":"ecccb8f.f928448","type":"ui_text","z":"2b2a1a0a.b140c6","group":"49eed59c.ec92cc","order":6,"width":5,"height":1,"name":"","label":"Water","format":"{{msg.payload}}","layout":"row-spread","x":874,"y":295.0000009536743,"wires":[]},{"id":"78505735.9ff5c8","type":"ui_text","z":"2b2a1a0a.b140c6","group":"49eed59c.ec92cc","order":8,"width":5,"height":1,"name":"","label":"CO2 conc.","format":"{{msg.payload}}","layout":"row-spread","x":894,"y":335.0000009536743,"wires":[]},{"id":"76c1ce01.4412","type":"ui_text","z":"2b2a1a0a.b140c6","group":"49eed59c.ec92cc","order":7,"width":5,"height":1,"name":"","label":"Photo","format":"{{msg.payload}}","layout":"row-spread","x":874,"y":255.00000095367432,"wires":[]},{"id":"20f13884.df43f8","type":"ui_text","z":"2b2a1a0a.b140c6","group":"49eed59c.ec92cc","order":11,"width":14,"height":1,"name":"","label":"수신되는 환경자료","format":"{{msg.payload}}","layout":"col-center","x":448,"y":214.00002002716064,"wires":[]},{"id":"17119b3d.547b85","type":"ui_chart","z":"2b2a1a0a.b140c6","name":"","group":"49eed59c.ec92cc","order":2,"width":7,"height":6,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":894,"y":395.0000009536743,"wires":[[]]},{"id":"b42af60b.4df6c8","type":"ui_chart","z":"2b2a1a0a.b140c6","name":"","group":"49eed59c.ec92cc","order":3,"width":7,"height":6,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":884,"y":435.0000009536743,"wires":[[]]},{"id":"7c4bd81d.21e8b8","type":"ui_chart","z":"2b2a1a0a.b140c6","name":"","group":"49eed59c.ec92cc","order":15,"width":7,"height":6,"label":"Photo","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":874,"y":475.0000009536743,"wires":[[]]},{"id":"19fbed21.ad9813","type":"ui_chart","z":"2b2a1a0a.b140c6","name":"","group":"49eed59c.ec92cc","order":14,"width":7,"height":6,"label":"Water","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1023","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":874,"y":515.0000009536743,"wires":[[]]},{"id":"f4618d28.a580d","type":"ui_chart","z":"2b2a1a0a.b140c6","name":"","group":"49eed59c.ec92cc","order":4,"width":7,"height":6,"label":"CO2 Conc.","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"2000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":894,"y":555.0000009536743,"wires":[[]]},{"id":"4295b32e.290a3c","type":"Stackhero-MySQL","z":"2b2a1a0a.b140c6","server":"7ec4cf82.90519","name":"","x":488,"y":774.0000200271606,"wires":[["4b63af91.84346","fb63be79eb03a224"]]},{"id":"df17dc7ca3b74c3c","type":"serial in","z":"2b2a1a0a.b140c6","name":"","serial":"1f625b7d.1c1c65","x":88,"y":314.00002002716064,"wires":[["b570478d.50cda8"]]},{"id":"25d658ddea20bef7","type":"serial out","z":"2b2a1a0a.b140c6","name":"","serial":"3a1aeb33.47d014","x":534,"y":115.00000095367432,"wires":[]},{"id":"2190e8a7709d98fa","type":"ui_slider","z":"2b2a1a0a.b140c6","name":"","label":"slider","tooltip":"","group":"49eed59c.ec92cc","order":13,"width":5,"height":1,"passthru":true,"outs":"all","topic":"payload","topicType":"msg","min":0,"max":10,"step":1,"x":314,"y":155.00000095367432,"wires":[["25d658ddea20bef7"]]},{"id":"997c77a62a607034","type":"ui_button","z":"2b2a1a0a.b140c6","name":"","group":"49eed59c.ec92cc","order":17,"width":2,"height":1,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","topicType":"str","x":174,"y":915.0000009536743,"wires":[["a873f966962cd453","a564523924e9bc30"]]},{"id":"a873f966962cd453","type":"ui_date_picker","z":"2b2a1a0a.b140c6","name":"","label":"date","group":"49eed59c.ec92cc","order":20,"width":5,"height":1,"passthru":true,"topic":"","topicType":"str","x":334,"y":915.0000009536743,"wires":[["3dfd7d9123c52ce5"]]},{"id":"a564523924e9bc30","type":"ui_date_picker","z":"2b2a1a0a.b140c6","name":"","label":"date","group":"49eed59c.ec92cc","order":22,"width":5,"height":1,"passthru":true,"topic":"","topicType":"str","x":334,"y":975.0000009536743,"wires":[["6328cc7d4722e5dc"]]},{"id":"3dfd7d9123c52ce5","type":"function","z":"2b2a1a0a.b140c6","name":"","func":"global.set('start_date', msg.payload);\n\nmsg.payload= newDate(msg.payload);\n\nreturnmsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":484,"y":915.0000009536743,"wires":[["d6a306a1.ee8b18","a7c8409dcc59ae50"]]},{"id":"6328cc7d4722e5dc","type":"function","z":"2b2a1a0a.b140c6","name":"","func":"global.set('end_date', msg.payload);\n\nmsg.payload= newDate(msg.payload);\n\nreturnmsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":484,"y":975.0000009536743,"wires":[["d6a306a1.ee8b18","a7c8409dcc59ae50"]]},{"id":"a7c8409dcc59ae50","type":"debug","z":"2b2a1a0a.b140c6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":734,"y":935.0000009536743,"wires":[]},{"id":"c190402af2197368","type":"inject","z":"2b2a1a0a.b140c6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":184,"y":1035.0000009536743,"wires":[["e85998d910f2e331"]]},{"id":"e85998d910f2e331","type":"function","z":"2b2a1a0a.b140c6","name":"","func":"var sdate= global.get('start_date');\nvaredate= global.get('end_date');\n\nmsg.payload= newDate(sdate) + \",\" + newDate(edate);\n\nreturnmsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":484,"y":1035.0000009536743,"wires":[["a7c8409dcc59ae50"]]},{"id":"347b5b23e3097764","type":"ui_table","z":"2b2a1a0a.b140c6","group":"49eed59c.ec92cc","name":"","order":28,"width":19,"height":1,"columns":[{"field":"ID","title":"ID","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"temp","title":"temp","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"humidity","title":"humidity","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"cdc","title":"cdc","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"water","title":"water","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"co2","title":"co2","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"date","title":"DATE","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":994,"y":755.0000009536743,"wires":[]},{"id":"fb63be79eb03a224","type":"function","z":"2b2a1a0a.b140c6","name":"","func":"var aJsonArray= newArray();\n\nvarj= 0; \nfor(vari= 0; i< msg.payload.length; i++)\n{\n    msg.payload[i].date= msg.payload[i].date.toLocaleString(\"en-US\", {timeZone: \"Asia/Seoul\"});\n    aJsonArray.push(msg.payload[i]);\n    j+= 1;\n    if(j== 100) break;\n    \n}\n\nvartext= JSON.stringify(aJsonArray);\nvarobj= JSON.parse(text);\nmsg.payload= obj;\n\nreturnmsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":714,"y":875.0000009536743,"wires":[["347b5b23e3097764","44c3e20e7dbb6a29"]]},{"id":"9e944bf91792b86c","type":"inject","z":"2b2a1a0a.b140c6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":604,"y":695.0000009536743,"wires":[["19fc2993ebc44244"]]},{"id":"19fc2993ebc44244","type":"function","z":"2b2a1a0a.b140c6","name":"","func":"var aJsonArray= newArray();\n\nfor(vari= 0; i< 10; i++)\n{\n    varaJson= newObject();\n    aJson.ID = 0;\n    aJson.temp= 0;\n    aJson.humidity= 0;\n    aJson.cdc= 0;\n    aJson.water= 0;\n    aJson.co2 = 0;\n    aJson.date= \"2020-01-01 00:00:00\";\n    aJsonArray.push(aJson);\n}\n\nvartext= JSON.stringify(aJsonArray);\nvarobj= JSON.parse(text);\nmsg.payload= obj;\n\nreturnmsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":814,"y":695.0000009536743,"wires":[["347b5b23e3097764","680845a292188052"]]},{"id":"680845a292188052","type":"debug","z":"2b2a1a0a.b140c6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":994,"y":695.0000009536743,"wires":[]},{"id":"44c3e20e7dbb6a29","type":"debug","z":"2b2a1a0a.b140c6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":974,"y":835.0000009536743,"wires":[]},{"id":"7c419b0dd37cfa45","type":"debug","z":"2b2a1a0a.b140c6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":514,"y":835.0000009536743,"wires":[]},{"id":"ddac732a0c8c5a06","type":"inject","z":"2b2a1a0a.b140c6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"INSERT INTO sensor;","payload":"{\"temperature\":0,\"humidity\":0,\"cdc\":0,\"water\":0,\"co2\":0,\"date\":\"2021-01-03 00:00:00\"}","payloadType":"json","x":174,"y":615.0000009536743,"wires":[["6c6294e647fbfb47"]]},{"id":"6c6294e647fbfb47","type":"function","z":"2b2a1a0a.b140c6","name":"","func":"msg.topic = \"INSERT INTO smartcyy.sensor(temp, humidity, cdc, water, co2, `date`)\";\nmsg.topic+= \"VALUES(0, 0, 0, 0, 0, current_timestamp());\";\nreturnmsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":324,"y":615.0000009536743,"wires":[["831024eaece0b4c7"]]},{"id":"831024eaece0b4c7","type":"Stackhero-MySQL","z":"2b2a1a0a.b140c6","server":"7ec4cf82.90519","name":"","x":484,"y":615.0000009536743,"wires":[["85367ac22de702d6"]]},{"id":"85367ac22de702d6","type":"debug","z":"2b2a1a0a.b140c6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":724,"y":615.0000009536743,"wires":[]},{"id":"9bb9686495af9c29","type":"ui_spacer","z":"2b2a1a0a.b140c6","name":"spacer","group":"49eed59c.ec92cc","order":12,"width":7,"height":1},{"id":"f47153f07c59e823","type":"ui_spacer","z":"2b2a1a0a.b140c6","name":"spacer","group":"49eed59c.ec92cc","order":16,"width":7,"height":1},{"id":"eece549025e91d77","type":"ui_spacer","z":"2b2a1a0a.b140c6","name":"spacer","group":"49eed59c.ec92cc","order":18,"width":3,"height":1},{"id":"29b4499cb5bbab8f","type":"ui_spacer","z":"2b2a1a0a.b140c6","name":"spacer","group":"49eed59c.ec92cc","order":19,"width":7,"height":1},{"id":"13a9dd5d9a321550","type":"ui_spacer","z":"2b2a1a0a.b140c6","name":"spacer","group":"49eed59c.ec92cc","order":21,"width":7,"height":1},{"id":"de65c643228ab1da","type":"ui_spacer","z":"2b2a1a0a.b140c6","name":"spacer","group":"49eed59c.ec92cc","order":23,"width":7,"height":1},{"id":"645e596dda55678d","type":"ui_spacer","z":"2b2a1a0a.b140c6","name":"spacer","group":"49eed59c.ec92cc","order":24,"width":5,"height":1},{"id":"5e64aaa6f68b0f76","type":"ui_spacer","z":"2b2a1a0a.b140c6","name":"spacer","group":"49eed59c.ec92cc","order":25,"width":7,"height":1},{"id":"3395ee356f6413d8","type":"ui_spacer","z":"2b2a1a0a.b140c6","name":"spacer","group":"49eed59c.ec92cc","order":26,"width":5,"height":1},{"id":"18e43582079c0a76","type":"ui_spacer","z":"2b2a1a0a.b140c6","name":"spacer","group":"49eed59c.ec92cc","order":27,"width":7,"height":1},{"id":"29096db0f5fbd59f","type":"ui_spacer","z":"2b2a1a0a.b140c6","name":"spacer","group":"49eed59c.ec92cc","order":29,"width":7,"height":1},{"id":"49eed59c.ec92cc","type":"ui_group","name":"환경자료","tab":"778fa598.35f71c","order":7,"disp":true,"width":26,"collapse":false},{"id":"7ec4cf82.90519","type":"Stackhero-MySQL-Server","name":"","host":"127.0.0.1","port":"3306","tls":false,"database":"smartcyy","credentials":{}},{"id":"1f625b7d.1c1c65","type":"serial-port","serialport":"COM8","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"3a1aeb33.47d014","type":"serial-port","z":"2b2a1a0a.b140c6","serialport":"COM8","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\n","bin":"false","out":"char","addchar":"true","responsetimeout":""},{"id":"778fa598.35f71c","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]
